@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Original+Surfer&display=swap');




table,th, td {
    border: 1px solid black;
    box-sizing:border-box;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
}

main section:nth-child(1)
{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    align-items: center;

}

main section:nth-child(2)
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

}

table, th, td {
    border: 1px solid black;
    text-align: center;
  }
  nav{
      align-content: center;
  }

  header section a{
    
      background-color: rgb(63, 78, 78);
      text-decoration: none;
      color: white;
      margin: 700px;
      font-family: 'Noto Serif', serif;
  }
  footer a{
    background-color: rgb(63, 78, 78);
    text-decoration: none;
    color: white;
  }

  ul {
      display: grid;
      grid-template-columns: repeat(5,1 fr);
      
      background-color: rgb(235, 235, 194);
  }

  header h1{
      text-align: center;
  }
#cookies tr:nth-child(1){
    background-color: rgb(202, 140, 82);
}

fieldset{
    background-color: rgb(231, 196, 167);
    font-weight: 800;
}
fieldset legend{
    background-color: orange;
}
#SalmonForm button{
    background-color: orange;
}
tbody{
    margin: auto;
}

main section:nth-child(1){
    
    display: ;
}
#homeTable{
    border: 1px solid rgb(9, 71, 20);
    box-sizing:border-box;
    margin-left: 0;
    font-family: 'Original Surfer', cursive;
    

}
body h1{
    margin-left: 2%;
    color: rgb(23, 89, 189);
}
body a{
    margin-left: 45%;
    background-color: rgb(216, 186, 175);
    
}
a:hover{
    background-color: peru;
}

nav p{
    font-weight: 800;
    font-style: inherit;
    margin-left: 5%;
}
body{
    background-color: rgb(205, 235, 252);
}